<br><br><br>

<div class="container">
    <!--서브페이지들-->
    <div class="sub-wrap">
        <!--입금신청-->
        <div class="subscr">
            <div class="subtitle">
                <h1>입금신청</h1>
                <!-- <span>신속한 충전을 위해서 올바른 입금정보를 입력해 주셔야 합니다. 입금확인 즉시 게임머니를 충전해 드립니다.</span> -->
            </div>
            <div id = 'input'>
                <table>
                    <colgroup>
                        <col style="width:24%;">
                        <col style="width:70%;">
                    </colgroup>
                    <tr>
                        <td>계좌 문의</td>
                        <td style="padding: 15px 0">
                            <div style="color: red; font-weight: bold;  padding-top: 7px;font-size: 20px;">* 계좌는 수시로 변경되오니 반드시 "계좌 문의 하기" 후에 입금해 주세요.</div>
                            <button type="button" style="width:300px;" onclick="RequestAccount();">계좌 문의 하기</button>
                        </td>
                    </tr>
                    <tr>
                        <td>은행명</td>
                        <td style="padding: 15px 0;">
                            <input name="bank_name" type="text" id="bank_name" value="" disabled />
                        </td>
                    </tr>
                    <tr>
                        <td>예금주</td>
                        <td style="padding: 15px 0;">
                            <input name="bank_holder" type="text" id="bank_holder" value="" disabled />
                        </td>
                    </tr>
                    <tr>
                        <td>계좌번호</td>
                        <td style="padding: 15px 0;">
                            <input class="wd200" name="bank_number" id="bank_number" type="text" disabled />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="text-info-01">
                * 당사의 입금계좌는 수시로 변경될 수 있습니다. 반드시 계좌 문의 하기 후 입금해 주세요<br>
                * 1회 입금한도는 1,000만원 입니다.<br>
                * 수표입금시 입금승인이 불가합니다.<br>
                * 카카오페이, 토스, 송금어플은 이체불가 입니다.
            </div>
            <div class="btn_area_one" id="button">
                <button id="btn_submit" type="button" onclick="OnClickNext();">입금확인요청</button>
            </div>
        </div>
    </div>
</div>

<script>

    let bRequestAccount = false;
    let strRequestAccountMsg = '';

    let bankname = '';
    let banknumber = '';
    let bankholder = '';

    console.log(`inout_input`);
    console.log(user);

    let AddAmount = (aAmount) => {

        console.log(`AddAmount : ${aAmount}`);

        if ( aAmount == -1 )
        {
            $('input[name=iAmount]').val(0);
            return;
        }

        let value = $('input[name=iAmount]').val();
        console.log(value);

        let iAmount = 0;
        if ( value == '' )
        {
            iAmount = 0;            
        }
        else
        {
            iAmount = value.replace(/,/gi, '');
        }
        iAmount = parseInt(iAmount) + parseInt(aAmount);
        console.log(`ret : ${iAmount}`);
        $('input[name=iAmount]').val(iAmount.toLocaleString());
    }

    let RequestInput = () => {

        const strName = $('input[name=strName]').val();
        let iAmount = $('input[name=iAmount]').val();
        iAmount = iAmount.replace(/,/gi, '');
        iAmount = parseInt(iAmount ?? 0);

        console.log(`RequestInput : strName (${strName}), iAmount (${iAmount})`);

        if ( iAmount == '' || iAmount == 0 )
        {
            alert('입금금액을 입력하십시오.');
            return;
        }

        if ( strName == '' )
        {
            alert('입금자명을 입력하십시오.');
            return;
        }

        $.ajax({
            type:'post',
            url: "/inout/request_input",
            context: document.body,
            data:{strID:user.strID, strInputName:strName, iAmount:iAmount, strGroupID:user.strGroupID,
                strAccountOwner: bankholder, strBankName: bankname, strAccountNumber: banknumber},
    
            success:function(data) {
                if ( data.result == 'OK' ){
                    alert(`입금신청이 완료 되었습니다.`);
                    location.href = '/';
                }
                else
                    alert('입금신청에 실패 하였습니다.');
            },
            error:function() {
                console.log('error');
            }
        });
    }

    let RequestAccount = () => {
        console.log(`RequestAccount`);

        let input = prompt('로그인 비밀번호를 입력해주세요');
        if (input == null) {
            return;
        } else if (input.length == 0) {
            alert(`비밀번호를 입력하지 않았습니다`);
            return;
        }
        $.ajax({
            type:'post',
            url: "/inout/request_bank",
            data:{input:input},
            success: (obj) => {
                if (obj.result == 'OK') {
                    bRequestAccount = true;
                    strRequestAccountMsg = obj.msg;
                    bankname = obj.bankname;
                    banknumber = obj.banknumber;
                    bankholder = obj.bankholder;
                    SetTagActive();
                    alert('표시되는 계좌로 입금을 해주시기 바랍니다');
                } else if (obj.result == 'FAIL') {
                    bRequestAccount = false;
                    alert(obj.msg);
                }
            },
            error:function(request,status,error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }

    let SetTagActive = () => {
        // document.getElementById('inputPrice').disabled = false;
        // document.getElementById('inputName').disabled = false;
        // document.getElementById('btn_50').disabled = false;
        // document.getElementById('btn_30').disabled = false;
        // document.getElementById('btn_10').disabled = false;
        // document.getElementById('btn_5').disabled = false;
        // document.getElementById('btn_init').disabled = false;
        // document.getElementById('btn_submit').disabled = false;

        $('#bank_name').val(bankname);
        $('#bank_holder').val(bankholder);
        $('#bank_number').val(banknumber);
    }

    let OnClickNext = () => {
        if (strRequestAccountMsg == '') {
            alert('입금 신청 후에 눌러주세요');
            return;
        }

        let tag = `
                <table>
                    <colgroup>
                        <col style="width:24%;">
                        <col style="width:70%;">
                    </colgroup>
                    <tr>
                        <td colspan="2">
                            <div style="color: red; font-weight: bold;  padding-top: 7px;font-size: 20px;">* 입금금액 확인을 위해 입금금액과 입금자명을 입력 후 입금신청하기 버튼을 눌러 주세요.</div>
                        </td>
                    </tr>
                    <tr>
                        <td>입금금액</td>

                        <td style="padding: 15px 0">

                            <input placeholder="입금금액을 입력해 주세요" type="text" name="iAmount" id="inputPrice" readonly>

                        </td>
                    <tr>
                        <td></td>
                        <td>
                            <button id='btn_1' type="button" onclick="AddAmount(10000);">1만원</button>
                            <button id='btn_5' type="button" onclick="AddAmount(50000);">5만원</button>
                            <button id='btn_10' type="button" onclick="AddAmount(100000);">10만원</button>
                            <button id='btn_30' type="button" onclick="AddAmount(300000);">30만원</button>
                            <button id='btn_50' type="button" onclick="AddAmount(500000);">50만원</button>
                            <button id='btn_100' type="button" onclick="AddAmount(1000000);">100만원</button>
                            <button id='btn_init' type="button" onclick="AddAmount(-1);" style="background-color:orange;">초기화</button>
                        </td>
                    </tr>
                    </tr>
                    <tr>
                        <td>입금자명</td>
                        <td style="padding: 15px 0"><input name="strName" type="text" id="inputName">
                            <div style="padding-top: 7px;font-size: 15px;">* 수표입금시 입금승인 및 출금처리가 불가하니 절대 입금하지 마시기 바랍니다.</div>
                        </td>
                    </tr>
                </table>`;
        $('#input').empty();
        $('#input').append(tag);

        $('#button').empty();
        $('#button').append(`
            <button id="btn_submit" type="button" onclick="RequestInput();">입금신청하기</button>
        `);

        checkBlockNum(`#inputPrice`);
        checkBlockCharNickname(`#inputName`);
    }

</script>