
<div class="container">
    <!--서브페이지들-->
    <div class="sub-wrap">



        <div class="subscr" style="background: none; border: none;">
            <div class="subtitle">
                <h1>

                    이벤트

                </h1>
                <span>공지사항
                    입니다.</span>
            </div>
            <table>
                <tr style="background: #191919;">
                    <th style="text-align: left; height:70px; font-weight: 500; font-size:17px; padding-left: 20px;"></th>
                    <th style="text-align: right; padding-right: 20px;"></th>
                </tr>

            </table>
            <table>
                <thead>
                </thead>
                <tr>
                    <td>
                        <textarea name="comment" id="comment" style="height:100px;width:98%"></textarea>
                    </td>
                </tr>
            </table>
            <div class="btn_area">
                <button type="button" onclick="location.href='/board/event/list.html'">전송</button>
            </div>
        </div>

    </div>
</div>