<div class="search_wrap" id="overview">
    <table class="search_list" style="margin-bottom:20px;">
        <thead>
        <tr>
            <th width="5%" rowspan="2"></th>
            <th width="10%" rowspan="2">입금</th>
            <th width="10%" rowspan="2">전환 머니</th>
            <th width="10%" rowspan="2">출금 </th>
            <th width="10%" rowspan="2">보유 머니</th>
            <th width="10%" rowspan="2">합계</th>
            <th width="5%" rowspan="2"></th>
            <th width="10%" rowspan="11">죽장</th>
            <th width="10%" rowspan="2">윈로스(알값)</th>
            <th width="10%" rowspan="2">순이익</th>
            <th width="10%" rowspan="2">보관죽장</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a style="font-weight:100;"></a></td>
            <td><a style="font-weight:100;"></a></td>
            <td><a style="font-weight:100;"></a></td>
            <td><a style="font-weight:100;"></a></td>
            <td><a style="font-weight:100;"></a></td>
            <td><a style="font-weight:100;"></a></td>
            <td><a style="font-weight:100;"></a></td>
            <td><a style="font-weight:100;"></a></td>
            <td><a style="font-weight:100;"></a></td>
            <td><a style="font-weight:100;"></a></td>
            <td><a style="font-weight:100;"></a></td>
        </tr>
        </tbody>
        <thead>
        <tr>
            <th width="5%"></th>
            <th width="10%" style="text-align:center;">베팅</th>
            <th width="10%" style="text-align:center;">승리</th>
            <th width="10%" style="text-align:center;">윈로스</th>
            <th width="10%" style="text-align:center;">수수료</th>
            <th width="10%" style="text-align:center;">합</th>
            <th width="5%"></th>
            <th width="10%" style="text-align:center;">미전환 롤링</th>
            <th width="10%" style="text-align:center;">전환 롤링</th>
            <th width="10%" style="text-align:center;">미전환 죽장</th>
            <th width="10%" style="text-align:center;">전환 죽장</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td style="text-align:right;padding-right:5px;background-color:#f8f5d1;">

            </td>
            <td style="text-align:right;padding-right:5px;background-color:#f8f5d1;">

            </td>
            <td style="text-align:right;padding-right:5px;background-color:#FFFACD;">

            </td>
            <td style="text-align:right;padding-right:5px;background-color:#FFFACD;">
            </td>
            <td style="text-align:right;padding-right:5px;background-color:#FFFACD;">
            </td>
            <td>
            </td>
            <td style="text-align:right;padding-right:5px;background-color:#FFFACD;">
            </td>
            <td style="text-align:right;padding-right:5px;background-color:#FFFACD;">
            </td>
            <td style="text-align:right;padding-right:5px;background-color:#FFFACD;">
            </td>
            <td style="text-align:right;padding-right:5px;background-color:#FFFACD;">
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="search_wrap" id="overview_share">
</div>