<br><br><br><br><br>
<div class="container">
    <!--서브페이지들-->
    <div class="sub-wrap">


        <form action="https://fnf55.com/exchange/coupon" method="post" accept-charset="utf-8" id="depoFrm" name="depoFrm"><div style="display:none">
<input type="hidden" name="csrf_test_name" value="37a91791ba8d12fd314271036f83e34f" />
</div>        <input type="hidden" name="usernumber" id="usernumber">
        <input type="hidden" name="site" id="site">
        <input type="hidden" name="contact"  value="01055758484">
        <input type="hidden" name="comment" value="쿠폰신청">
        <div class="subscr">
            <div class="subtitle">
                <h1>쿠폰사용내역</h1>
                
            </div>
            <table>
                <colgroup>
                    <col style="width:14%;">
                    <col style="width:10%;">
                    <col style="width:13%;">
                    <col style="width:13%;">
                    <col style="width:10%;">
                    <col style="width:13%;">
                </colgroup>
                <thead>
                <tr>
                    <th>발급일</th>
                    <th>쿠폰명</th>
                    <th>금액</th>
                    <th>만료일</th>
                    <th>게임명</th>
                    <th>상태</th>
                </tr>
                </thead>
                <tbody style="text-align: center;">
                    <tr>
                        <td>2023.12.30</td>
                        <td>로얄카지노</td>
                        <td>500,000</td>
                        <td>2024.12.30</td>
                        <td>로얄카지노</td>
                        <td>사용됨</td>
                    </tr>
                    <tr>
                        <td>2023.12.30</td>
                        <td>로얄카지노</td>
                        <td>500,000</td>
                        <td>2024.12.30</td>
                        <td>로얄카지노</td>
                        <td><button id="used">쿠폰사용</button></td>
                    </tr>

                    <!--  게시판 반복 리스트소스 시작-->

                    <tr>
                        <td height="34" align="center" class="color_white" colspan="6">회원님의 입금내역이 존재하지 않습니다.</td>
                    </tr>

                    <!--  게시판 반복 리스트소스 끝-->

                </tbody>
            </table>
            <p align="center" style="display: block;font-weight: 400; font-size:14px; color:#DC4F00;">회원님께 발급된 쿠폰내역입니다.<br /> 쿠폰사용을 원하신다면 쿠폰사용을 클릭해 주세요</p>
        </div>
        </form>


    </div>
</div>