
<div class="container">
    <div class="sub-wrap">
        <div class="subscr" style="background: none; border: none;">
            <div class="subtitle">
                <h1>

                    <% if ( eDocumentType == 'ANN' ) { %>
                        공지사항
                    <% } else { %>
                        이벤트
                    <% } %>

                    

                </h1>
                <span>
                    언오버 카지노

                    <% if ( eDocumentType == 'ANN' ) { %>
                        공지사항
                    <% } else { %>
                        이벤트
                    <% } %>
                    입니다.</span>
            </div>
            <table>
                <colgroup>
                    <col style="width:70%;">
                    <col style="width:30%;">

                </colgroup>
                <thead>
                <tr style="background: #191919;">
                    <th style="text-align: left; height:70px; font-weight: 500; font-size:17px; padding-left: 20px;"><%=objectAnn.strSubject%></th>
                    <th style="text-align: right; padding-right: 20px;"><%=objectAnn.createdAt%></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="2" style=" padding:5% 5% 5% 5% !important; font-size:15px; font-weight: 500;line-height: 30px; ">
                        <div>
	<span style="color:#a9a9a9;"><strong><span style="font-size:14px;">저희 메리트 에서는 매일매일 입금하시는 모든 회원님들께 </span></strong></span><span style="color:#ff8c00;"><strong><span style="font-size:14px;">평일3% / 주말5%</span></strong></span><span style="color:#a9a9a9;"><strong><span style="font-size:14px;">의 보너스머니를 드리오니</span></strong></span></div>
<div>
	<span style="color:#a9a9a9;"><strong><span style="font-size:14px;">아래의 이벤트 내용을 참고 하시어 많은 이벤트 혜택을 받으시기 바랍니다.</span></strong></span></div>
<div>
	&nbsp;</div>
<div>
	<span style="color:#ff8c00;"><strong><span style="font-size:14px;">☞ 이벤트 일시&nbsp;</span></strong></span></div>
<div>
	<span style="color:#a9a9a9;"><strong><span style="font-size:14px;">★ 매일 00:00 ~ 23:59 사이에 입금하시는 모든 회원님들께 지급됩니다.</span></strong></span></div>
<div>
	&nbsp;</div>
<div>
	<span style="color:#ff8c00;"><strong><span style="font-size:14px;">☞ 이벤트 내용&nbsp;</span></strong></span></div>
<div>
	<span style="color:#a9a9a9;"><strong><span style="font-size:14px;">★ 해당이벤트는 매일 00:00시에 초기화되며, 당일출금내역이 있거나,&nbsp;</span></strong></span></div>
<div>
	<span style="color:#a9a9a9;"><strong><span style="font-size:14px;">&nbsp; &nbsp;보유잔액이3만원 이상 남아있을경우에는 보너스 지급이 되지 않습니다.</span></strong></span></div>
<div>
	&nbsp;</div>
<div>
	<span style="color:#a9a9a9;"><strong><span style="font-size:14px;">&nbsp;1. 첫입금시 입금액의&nbsp; 평일3% / 주말5% 최대 평일10만원 / 주말 15만원이 지급됩니다.</span></strong></span></div>
<div>
	<span style="color:#a9a9a9;"><strong><span style="font-size:14px;">&nbsp;2. 재입금시(한번더 이벤트포함) 입금액의&nbsp; 평일3% / 주말5% 최대 5만원이 지급됩니다.&nbsp;</span></strong></span></div>
<div>
	<span style="color:#a9a9a9;"><strong><span style="font-size:14px;">&nbsp;3. 한번더 이벤트 19:00 ~ 22:00 사이에 입금하신 분께는&nbsp;</span></strong></span></div>
<div>
	<span style="color:#a9a9a9;"><strong><span style="font-size:14px;">&nbsp; &nbsp; 출금내역유무와 상관없이 한번더! 지급해 드립니다.</span></strong></span></div>
<div>
	<span style="color:#a9a9a9;"><strong><span style="font-size:14px;">&nbsp;4. 가입후 체험머니신청 서비스를 통해 무료체험머니 50만원을 지급해드립니다.</span></strong></span></div>
<div>
	&nbsp;</div>
<div>
	<span style="color:#d90000;"><strong><span style="font-size:14px;">☞ 주의사항</span></strong></span></div>
<div>
	<span style="color:#a9a9a9;"><strong><span style="font-size:14px;">1.M게임은 첫입금 보너스만 지급 되며 재입금시에는 지급 되지않습니다.</span></strong></span></div>
<div>
	<span style="color:#a9a9a9;"><strong><span style="font-size:14px;">2.입금액의 3배롤링이 되지 않을시 (3배미롤링 부분출금시 )보너스금액은 차감되며 입금보너스지급</span></strong></span></div>
<div>
	<span style="color:#a9a9a9;"><strong><span style="font-size:14px;">&nbsp; &nbsp; &nbsp;최대금액 이상 고액 입금하실 경우 아래의 롤링비율을 참고하시기 바랍니다.</span></strong></span></div>
<div>
	<span style="color:#a9a9a9;"><strong><span style="font-size:14px;">&nbsp; &nbsp;- (예)입금액: 5,000,000원&nbsp; 3%(평일기준) 보너스금액: 100,000원을 지급받았을 경우</span></strong></span></div>
<div>
	<span style="color:#a9a9a9;"><strong><span style="font-size:14px;">&nbsp; &nbsp; &nbsp;①입금보너스 3%의 최대금액 10만원을 받기위한 최소입금액 = 334만원 + 보너스10만</span></strong></span></div>
<div>
	<span style="color:#a9a9a9;"><strong><span style="font-size:14px;">&nbsp; &nbsp; &nbsp;②위의 334만원을 제외한 나머지 추가입금액 = 166만원</span></strong></span></div>
<div>
	<span style="color:#a9a9a9;"><strong><span style="font-size:14px;">&nbsp; &nbsp; &nbsp;③롤링계산법344만(1번참조) x 3배롤링금액 = 1032만 + 166만(2번참조) 총롤링필요금액:1198만</span></strong></span></div>
<div>
	<span style="color:#a9a9a9;"><strong><span style="font-size:14px;">3.3배롤링이 되지 않아 차감되는 횟수가 많을시 이벤트 대상에서 제외됩니다.</span></strong></span></div>
<div>
	<span style="color:#a9a9a9;"><strong><span style="font-size:14px;">4.관리자 판단하에 보너스금액 악이용 여부가 확인되면 즉시 보너스 차감및 이벤트대상에서 제외됩니다.</span></strong></span></div>

                    </td>
                </tr>

                </tbody>
            </table>
            <div class="btn_area">
                <button type="button" onclick="location.href='/board/list'">목록</button>
            </div>
        </div>

    </div>
</div>