<!-- <br><br><br> -->
<div class="container">
    <!--서브페이지들-->
    <div class="sub-wrap">
        <div class="subscr" style="background: none; border: none;">
            <div class="subtitle">
                <h1><%=strGameName%></h1>
                <span>의 게임 설명 입니다.</span>
            </div>

            <div class="rem_wrap" style="border-bottom:none;">
                <div class="m-wrap">
                    <img src="<%=strFilename%>">
                </div>
            </div>
        </div>
    </div>               
</div>

<script>

</script>