<br><br><br><br><br>

<div class="container">
    <!--서브페이지들-->
    <div class="sub-wrap">



        <form action="https://fnf55.com/exchange/virtual" method="post" accept-charset="utf-8" id="depoFrm" name="depoFrm"><div style="display:none">
<input type="hidden" name="csrf_test_name" value="37a91791ba8d12fd314271036f83e34f" />
</div>        <input type="hidden" name="contact">
        <!--체험머니신청-->
        <div class="subscr">
            <div class="subtitle">
                <h1>체험머니신청</h1>
                
            </div>
            <table>
                <colgroup>
                    <col style="width:24%;">
                    <col style="width:50%;">
                </colgroup>

                <tr>
                    <td>휴대폰</td>
                    <td><br>
                        <select name="hp_no1" class="sel-short" id="hp_no1">
                            <option value="">선택</option>
                            <option value="010" >010</option>
                            <option value="011" >011</option>
                            <option value="016" >016</option>
                            <option value="017" >017</option>
                            <option value="018" >018</option>
                            <option value="019" >019</option>
                            <option value="070" >070</option>
                        </select>
                        <input class="sel-short-02" name="hp_no2" type="text" id="hp_no2" value="1234" />
                        <input class="sel-short-02" name="hp_no3" type="text" id="hp_no3" value="1234" /><br><span> * 체험ID가 발송됩니다.</span><br>
                    </td>
                </tr>

                <tr>
                    <td>체험머니</td>
                    <td><input class="wd200" name="amount" type="text" id="amount" value="500000" readonly /></td>
                </tr>
                <tr>
                    <td>코멘트</td>
                    <td>
                        <textarea name="comment" id="comment" style="height:100px;"></textarea>
                    </td>
                </tr>
            </table>
            <div class="text-info-01">체험머니신청은 SMS수신이 가능한 번호를 입력해 주셔야 합니다. 체험아이디는 모든게임을(블랙잭제외)하루동안 즐기실 수 있습니다.</div>
            <div class="btn_area_one">
                <button type="button" onclick="exchangeSend();">체험머니신청하기</button>
            </div>
        </div>
        <!--체험머니-->
        </form>


    </div>
</div>