<div class="container">
    <!--서브페이지들-->
    <div class="sub-wrap">

        <div class="subscr" style="background: none; border:none;">
            <div class="subtitle">
                <h1>FAQ</h1>
                <span>FAQ 입니다.</span>
            </div>
            <table>
                <colgroup>
                    <col style="width:14%;">
                    <col style="width:55%;">
                    <col style="width:23%;">

                </colgroup>
                <thead>
                    <tr style="background: #191919;">
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성일자</th>
                    </tr>
                </thead>
                <tbody>
                <% for ( let i in listFaq ) { %>
                    <tr class="boardl" >
                        <td style="text-align: center;"><%=listFaq[i].id%></td>
                        <td style="text-align: left; font-weight: 600;">
                            <% const address = `/faq/get?id=${listFaq[i].id}`;%>
                            <a href="<%=address%>"><font color="#ffffff" size="2"><%=listFaq[i].strSubject%></font></a>
                        </td>
                        <td style="text-align: center;"><%=listFaq[i].createdAt%></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>

    </div>
      
</div>